body{
  background-color: rgb(30, 30, 30);
  color:white;
}

.Navbar{
  display: flex;
  justify-content: space-around;
}

.profile{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.profile .circle{
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
